:root {
    --bg-color: #F3F5FC;
    --bg-aside-color: FFFFFF;
    --bg-aside-btn-color: FFFFFF;
    --text-color: #0A3871;
    --button-enc-color: #0A3871;
    --button-desenc-color: #D8DFE8;
    --button-copy-color: #0A3871;
  }

*{
    border: 1px solid red;
    margin: 2px;
    padding: 2px;
    font-family: sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 150%;
}

body{
    background-color: var(--bg-color);
}

.container{
    display: flex;
    flex-direction: row;
}

header{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
}

textarea{
    background-color: var(--bg-color);
    border: none;
    outline: none;
    resize: none;
 }

aside .aside-box{
    display: flex;
    flex-direction: column;
}

::placeholder{
    color: #0A3871;
    font-weight: 300;
}

.advertencia{
    display: flex;
    flex-direction: row;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-encriptar{
    background-color: var(--button-enc-color);
    color: white;
}

.btn-desencriptar{
    background-color: var(--button-desenc-color);
    color: var(--text-color);
}

@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
}